{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}
<div class="jumbotron" style="background-color:#60A3D9;">

        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>


<div class="container">
{# Liste de ce que j'aimerai afficher#}
<div class = "row">
     
          <resume>
               {# Faisant une interpollation#}
               <h5>categorie : {{location.categories.titre}}</h5>
               <p> Date de publication: {{ location.creatAt | date('d/m/Y')}}</p>
               <div class = "col-md-8">

		        {% if location.filename %}
			        <img align="right" src="{{ vich_uploader_asset(location,'imageFile') | imagine_filter('medium') }}" alt="" align="left">
		        {% else %}
			        <img align="right" src="{{ 'images/locations/43013.jpg' | imagine_filter('medium') }}" alt="" align="left">
		        {% endif %}
                    <p align="justify"> {{ location.denomination | raw}}  </p>
                    <p align="justify"> Adresse: {{ location.adresse | raw}} </p> 
                    <p align="justify"> Surface: {{ location.surface | raw}} </p> 
                    <p align="justify"> Type: {{ location.typemaison | raw}} </p> 
                    <p align="justify"> Chambres: {{ location.chambres | raw}} </p>
                    <p align="justify"> Etage: {{ location.etage | raw}} </p>
                    <p align="justify"> Prix du bien : {{ location.cout | raw}} </p>      
                    <a href="{{path('ann_edit', {'id':location.id})}}" class="btn btn-success"> modifier</a>  
                    <a href="{{ path ('ann_delete',{'id':location.id})}}" class="btn btn-danger"> supprimer</a>  

               </div>          
          </resume>
          <hr> </hr>
   
</div>


 





{% endblock %}