{% extends 'base.html.twig' %}
{% form_theme FormAnnonce 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<div class="form-group">
		<div class="col-8">

			{% if editMode %}
				<h1>{{message1}}</h1>
			{% else %}
				<h1>{{message2}}</h1>
			{% endif %}

			{{form_start(FormAnnonce)}}
			
			{{form_widget(FormAnnonce)}}

			<button type="submit" class="btn btn-success">
				{% if editMode %}
					Enregistrer les modifications
				{% else %}
					Ajouter une annonce
				{% endif %}
			</button>
</div>
			{{form_end(FormAnnonce)}}
		
	</div>
{% endblock %}
