{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier
{% endblock %}

{% block body %}
	<div class="jumbotron" style="background-color:#B4F8C8">
		<br>GUINOT IMMOBILIER:</br>
	<br>ACCESS LOCATION D'APPARTEMENTS</br></div>{% for message in app.flashes('success') %}
<div class="alert alert-success">
	{{ message }}
</div>{% endfor %}<div class="container">
<div class="row">
	<div class="col-md-3">
		{% include 'home/_filter.html.twig' %}
	</div>

	<div class="col-md-9">
	<div class="d-flex justify-content-end mb-3">
	{{knp_pagination_sortable(coco, 'prix  ', 'p.cout')}}
	</div>
		<div class="grid">
		
			{% for location in coco %}
				<div class="card">
					<img src="{{ location.image}}" alt="" class="card-img-top">
					<div class="card-body">
						<h2 class="card-title">{{ location.categories.titre }}</h2>
						<div class="card-title">
							{{ location.denomination | raw}}
							<div class="card-title">
								{{ location.adresse | raw}}
								<div class="card-title">
									{{ location.surface | raw}}
									<div class="card-title">
										{{ location.typemaison | raw}}
										<div class="card-title">
											{{ location.chambres | raw}}
											<div class="card-title">
												{{ location.etage | raw}}
												<div
													class="class-title text-primary" style="font-weight: bold; font-size:3rem; ">
													{# function number format:! pas de nombre apres la virgule : 0, ',', ' ' last espace au niveau des millier #}
													{{ location.cout | number_format (0, ',',' ')}}
													€
												</div>
												<a href="{{ path('affichage', {'id': location.id })}}" class="btn btn-outline-primary">
													Consulter</a>
													<div>
														<em class="text-muted text-primary text-italic"># {{location.categories.titre}}</em>
													</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
<div class="mt-4">
{{knp_pagination_render(coco)}}
</div>
	</div>
</div>
{% endblock %}
