{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier
{% endblock %}

{% block body %}


	<div class="jumbotron">
		<br>
		GUINOT IMMOBILIER:</br>
	<br>
	ACCESS LOCATION & VENTE D'APPARTEMENTS</br></div><div class="container">
{% for annonces in annonce %}
	<article>
		<h2>{{annonces.title}}</h2>
		<div class="content">
			<img src={{ annonces.image }} alt="" align="right">
			{{annonces.content | raw }} ecrit le {{annonces.createAt | date ('d/m/Y')}} à {{annonces.createAt | date ('H:i')}}
			<a href="" class="btn btn-primary">
				Consultez mon article</a>
		</div>
	</article>
{% endfor %}

{% endblock %}
